@{
    Layout = "~/_SiteLayout.cshtml";
}


<div class="container mt-5">
    <h1>Január</h1>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-success text-white">Príjmy</div>
                    <div class="card-body">
                        @TableHelper.vykresliTabulku("isStrippedRow","prijem")    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-danger text-white">Výdaje</div>
                    <div class="card-body">
                        @TableHelper.vykresliTabulku("isStrippedRow","vydaj") 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-info text-white ">Príjmy / Výdaje</div>
                <div class="card-body">
                    @TableHelper.vykresliTabulku("isStrippedRow","");
                </div>
            </div>
        </div>
    </div>
</div>
