@{
    Layout = "~/_SiteLayout.cshtml";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-info mb-6">
                <div class="card-header">2018</div>
                <div class="card-body">
                    <h5 class="card-title">Prehľad príjmov a výdajov</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mesiac</th>
                                <th scope="col">Príjem</th>
                                <th scope="col">Výdaj</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td><a href="#">Január</a></td>
                                <td class="text-success">2000</td>
                                <td class="text-danger">3000</td>
                                <td class="text-danger"><i class="fas fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td><a href="#">Február</a></td>
                                <td class="text-success">1000</td>
                                <td class="text-danger">1200</td>
                                <td class="text-danger"><i class="fas fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td><a href="#">Marec</a></td>
                                <td class="text-success">650</td>
                                <td class="text-danger">640</td>
                                <td class="text-success"><i class="fas fa-angle-up"></i></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-5 mt-md-0">
            <div class="card border-info mb-6">
                <div class="card-header">2017</div>
                <div class="card-body">
                    <h5 class="card-title">Prehľad príjmov a výdajov</h5>
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mesiac</th>
                                <th scope="col">Príjem</th>
                                <th scope="col">Výdaj</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td><a href="#">Január</a></td>
                                <td class="text-success">2000</td>
                                <td class="text-danger">3000</td>
                                <td class="text-danger"><i class="fas fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td><a href="#">Február</a></td>
                                <td class="text-success">1000</td>
                                <td class="text-danger">1200</td>
                                <td class="text-danger"><i class="fas fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td><a href="#">Marec</a></td>
                                <td class="text-success">650</td>
                                <td class="text-danger">640</td>
                                <td class="text-success"><i class="fas fa-angle-up"></i></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

