.navbar{
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-scroll-style{
    background-color: white;
    border-bottom: 1px solid #000;
    transition: 0.3s all;
}



section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#jumbotron{
    background-color: #e9ecef;
}



.jumbotron{
    background-color: transparent;
}


@media (min-width: 1200px) {
    .image{
        background-image: url('https://www.freshbooks.com/wp-content/uploads/2018/02/home-computer-hero_opt@2x.jpg');
        background-position: right center;
        background-size: cover;
    }
}