@{ 
    var result = "";

    if (IsPost)
    {
        var meno = Request.Form["FirstName"];
        var priezvisko = Request.Form["LastName"];
        var email = Request.Form["Email"];

        var data = meno + ", " + priezvisko + "," + email +Environment.NewLine;

        var path = Server.MapPath("~/App_Data/data.txt");
        File.AppendAllText(@path, data);

        
        result = "Vlozene do suboru.";
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Write Data to a File</title>
</head>
<body>
    <form id="form1" method="post">
        <div>
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input id="FirstName" name="FirstName" type="text" /></td>

                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input id="LastName" name="LastName" type="text" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input id="Email" name="Email" type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </div>
        <div>
            @if (result != "")
            {
                <p>Result: @result</p>
            }
        </div>
    </form>
</body>
</html>