@{
    Layout = "~/_SiteLayout.cshtml";

    var email = "";
    var heslo = "";
    var rememberMe = false;

    Validation.RequireField("email", "Musíte zadať email");
    Validation.RequireField("heslo", "Musíte zadať heslo");

    if (IsPost)
    {
        AntiForgery.Validate();

        if (Validation.IsValid())
        {
            email = Request.Form["email"];
            heslo = Request.Form["heslo"];
            rememberMe = Request.Form["rememberMe"].AsBool();

            if (WebSecurity.UserExists(email) &&
                WebSecurity.GetPasswordFailuresSinceLastSuccess(email) > 3 &&
                WebSecurity.GetLastPasswordFailureDate(email).AddSeconds(60) > DateTime.UtcNow)
            {
                Response.Redirect("~/Account/UcetZablokovany");
                return;
            }

            if(WebSecurity.Login(email, heslo, rememberMe))
            {
                var returnUrl = Request.QueryString["ReturnUrl"];
                Context.RedirectLocal(returnUrl);
            }

        }
    }



}
<div class="container register-form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a href="~/Account/Register" class="float-right btn btn-outline-primary mt-1">Register</a>
                    <h4 class="card-title mt-2">Log in</h4>
                </header>
                <article class="card-body">
                    <form method="post">
                        @AntiForgery.GetHtml()

                        @if (!ModelState.IsValid)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                @Html.ValidationSummary("Prosím napravte chyby.")
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" id="email" class="form-control @if (!ModelState.IsValidField("email")){<text>is-invalid</text>}" placeholder="">
                            @if (!ModelState.IsValidField("email"))
                            {
                                <div class="invalid-feedback">@Html.ValidationMessage("email")</div>
                            }
                        </div> <!-- form-group end.// -->


                        <div class="form-group">
                            <label>Heslo</label>
                            <input class="form-control @if (!ModelState.IsValidField("heslo")){<text>is-invalid</text>}" name="heslo" id="heslo" type="password">
                            @if (!ModelState.IsValidField("heslo"))
                            {
                                <div class="invalid-feedback">@Html.ValidationMessage("heslo")</div>
                            }
                        </div> <!-- form-group end.// -->

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">
                                Zapamätaj si prihlásenie
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->

                        
                    </form>
                </article>
                <div class="border-top card-body text-center">Ešte nie si zaregistrovaný? <a href="~/Account/Register">Registruj sa</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div>
<!--container end.//-->
